
.tiempo {
        text-transform: uppercase; /* texto en mayuscula*/
        color: rgba(255, 255, 255, 0.8);
        border-radius: 25px;
        display: inline-block; /*especifica el comportamiento de visualización como contenedor de bloque de nivel en linea */
        cursor: pointer; /*cuando el mause se posiciona sobre el elemento indica un link*/
        pointer-events: none; /* el link no te redirecciona a otra paguina*/
        position: absolute; /* posicion del elemento */
        bottom: 26%;
        left: 20px;
      }
.tiempo:hover {
        pointer-events: all; /* mantiene activo el hover cuando te mantenes en el bloque*/
      }
.label {/* le digo que tiene que hacer*/
        display: inline-block;
        cursor: pointer;
        pointer-events: all;
      }
