:root {
  /*--fuenteHeading: "PT Sans", sans-serif;
  --fuenteParrafos: "Open Sans" sans-serif;*/
  --fuenteHeading: "Noto Serif", serif;
  --fuenteParrafos: "Noto Serif", serif;

  --primario: #784d3c;
  --blanco: #ffffff;
  --gris: #e1e1e1;
  --negro: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
  
}

/*Globales*/
.contenedor {
  max-width: 100%;
  margin: 0 auto;
  /* background-color: rgba(0, 0, 0, 0.466); */
}
/*-----------Globales-------------*/

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3,
h5 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}

/*-------------Utilidades------------*/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}


/*------------------Header------------------*/
.header {
  height: 100vh;
  margin-bottom: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* backface-visibility: hidden; */
  animation: header 50s linear infinite 3s;
  animation-timing-function: ease-in-out;
  background-image: url("../img/zyro-image.png");
}
@keyframes header {
  0% {
    background-image: url("../img/zyro-image.png");
  }
  25% {
    background-image: url("../img/categoria.jpg");
  }
  50% {
    background-image: url("../img/membresia.jpg");
  }
  75% {
    background-image: url("../img/banner.jpg");
  }
  100% {
    background-image: url("../img/curso1.jpg");
  }
}

.header__texto {
  text-align: center;
  color: var(--blanco);
  margin-top: 35vh;
  position: absolute;
  width: 100%;
}

.barra {  /* version movil */
  padding: 1.5rem 0;
  justify-content: center;
  height: 10%;
  
}

@media (min-width: 980px) { /* a partir de 980px esto */
  .barra {
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding: 0 2rem;
  }
  
}

@media (min-width: 1240px) { /* a partir de 1240px esto */
  .barra {
    display: flex;
    justify-content: space-evenly;
    height: max-content;
  }
  
}
.logo {
  display: block;
  width: max-content;
  margin: auto 0;
  color: var(--blanco);
}
.logo__nombre {
  font-weight: 400;
}
.logo__bold {
  font-weight: 700;
}

@media (min-width: 980px) {
  .navegacion {
    justify-content: flex-end;
    display: flex;
    gap: 2rem;
  }
}

.navegacion {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
 
.entrada {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.entrada__contenido > h4 {
  margin-bottom: 2rem;
}
.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}
.entrada__imagen {
  position: relative;
}
.boton {
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border: none;
}
@media (min-width: 980px) {
  .boton {
    display: inline-block;
  }
}
.boton:hover {
  cursor: pointer;
}
.boton--primario {
  background-color: var(--negro);
}
.boton--secundario {
  background-color: var(--primario);
}

.cursos {
  list-style: none;
}

.widget-curso {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.widget-curso:last-of-type {
  border: none;
  margin-bottom: 0;
}
.widget-curso__label {
  font-family: var(--fuenteHeading);
  font-weight: bold;
}
.widget-curso__info {
  font-weight: normal;
}

.widget-curso__label,
.widget-curso__info {
  font-size: 2rem;
}

.footer {
  background-color: var(--negro);
  padding:3rem 0;
  margin-top: 3rem;
}

.logo__footer{
  text-align: center;
  width: auto;
}

@media (min-width: 980px) {
  .nav-footer {
    justify-content: center;
    display: flex;
    gap: 2rem;
  }
}

.nav-footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/*Sobre Nosotros*/

@media (min-width: 980px) {
  .sobre-nosotros {
    display: flex;
    justify-content: space-between;
  }
  .sobre-nosotros__imagen,
  .sobre-nosotros__texto {
    flex-basis: calc(50% - 1rem);
  }
}

/*Cursos*/
.curso {
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
}
@media (min-width: 980px) {
  .curso {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
.curso:last-of-type {
  border: none;
}
.curso__label {
  font-family: var(--fuenteHeading);
  font-weight: bold;
}
.curso__info {
  font-weight: normal;
}
.curso__label,
.widget-curso__info {
  font-size: 2rem;
}

/*Contacto*/

.contacto-bg {
  background-image: url(../img/contacto.jpg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.formulario {
  background-color: var(--blanco);
  margin: -5rem auto 0 auto;
  width: 95%;
  padding: 5rem;
}
.campo {
  display: flex;
  margin-bottom: 2rem;
}
.campo__label {
  flex: 0 0 9rem;
  text-align: right;
  padding-right: 2rem;
}
.campo__field {
  flex: 1;
  border: 1px solid var(--gris);
}
.campo__field--textarea {
  height: 20rem;
}

/*INFORMACION DE LA IMG*/

.entrada__imagen picture img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 500ms ease-out;
}

.entrada__imagen picture .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0000005f;
  color: #ffffff;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.entrada__imagen picture:hover > .capa {
  opacity: 1;
  visibility: visible;
}

/*MENU HAMBURGUESA*/

.mostrar-background{
  width: 100vw;
  height: 80%;
  background: #555
}
.nav-bar{
  padding: 20px;
  display: block;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  width: max-content;
  margin: 0 0 0 auto;
  position: absolute;
  top: 6px;
  right: 25px;
}

.menu{
  background: #555;
  width: 100%;
  margin-top: -100vh;
  transition: all 0.3s;
}

.menu__link{
  display: block;
  padding: 20px;
  color: white;
  font-size: 1.2em ;
  text-decoration: none;
}

.menu__link:hover{
  background: #444;
}

.mostrar{
  margin-top: 0;
  flex-direction: column;
}

@media(min-width: 980px) {
  .nav-bar {
    display: none;
  }
  .menu {
    width: 50%;
    margin: 0;
    display: flex;
    background-color: transparent;
  }
  .menu__link{
    display: block;
    padding: 10px;
    color: white;
    font-size: 2rem ;
    text-decoration: none;
  }
  .menu__link:hover{
    background: transparent;
  }
}

/*MEMBRESIA.HTML TABLA DE PRECIOS*/

.contenedor_tabla{
  width: 70%;
  max-width: 900px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.tabla_precio{
  width: 400px;
  height: 550px;
  margin: auto;
  border: 1px solid var(--gris);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px var(--gris);
  padding: 60px;
  text-align: center;
  color: #343759;
  
}

.tabla_precio h2 {
  display: block;
  font-size: 40px;
  margin:0 0 35px 0;
}

.tabla_precio h3{
  font-size: 40px;
  margin-bottom: 20px;
}

.tabla_precio > p {
  display: block;
  margin-bottom: 20px;
}

.boton_precio{
  display: inline-block;
  width: 150px;
  padding: 12px;
  background: #a5f059;
  text-decoration: none;
  color: #343759;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}

.tabla_precio:hover {
  background: #343759;
  color: var(--blanco);
  transition: 0.2 all;
  transform: scale(1.1);
  cursor: pointer;
}